<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="{{ `images/graph.png` | relURL }}" class="img-fluid" width="100px" height="100px">
        <h2 class="h2">Detailed Analytics <small class="d-none">🛡️</small></h2>
        <p>See your tabs displayed in live time alongside a bar graph showcasing the time the tab has been opened and in focus</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/close.png` | relURL }}" class="img-fluid" width="100px" height="100px">
        <h2 class="h2">Tab Management <small class="d-none">🚀</small></h2>
        <p>Manage your tabs with the ability to close out of tabs you feel are no longer necessary without having to parse through all your tabs</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/ui.png` | relURL }}" class="img-fluid" width="100px" height="100px">
        <h2 class="h2">Intuitive UI <small class="d-none">📈</small></h2>
        <p>Naviagate our extension with ease with our streamline user interface so you know where everything is without a hitch</p>
    </div>
</div>

<h2 class="row justify-content-center text-center mt-lg-3">Features Coming Soon!</h2>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Bucketing <small class="d-none">🦉</small></h2>
        <p> Bucket together simialr tabs allowing you to control all these tabs with just one button.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Weekly Reports <small class="d-none">✨</small></h2>
        <p>Recieve weekly reports with in-depth analysis on your patterns and website usage. </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Website Blocking <small class="d-none">🧰</small></h2>
        <p>Block distracting and harmful websites (news, social media, etc...) to your productivity all with the click of one button. </p>
    </div>
</div>
